<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Betastore", products_path %>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "Products", products_path %>
      </li>
      <li>
        <%= link_to "Admin", admin_products_path %>
      </li>
    </ul>
  </div>
</nav>